@import url("https://use.typekit.net/sar2ezz.css");

$teal: #1d4045;
$ligthteal: #33777d;
$ligthblue: #83d3d4;
$red: #902617;
$yellow: #e2ad3b;
$black: #000;
$white: #fff;

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-image: url("/forest.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: houschka-rounded,sans-serif;
    font-weight: 500;
    font-style: normal;
    color: $white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    list-style: none;
    overflow: hidden;
    &::before {
        content: "";
        background-color: $black;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.5;
        z-index: -1;
    }
}

h1 {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

h2 {
    font-weight: 600;
    margin: auto;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
}

header {
    text-align: center;
    margin-bottom: 1rem;
    h2 {
        padding: 0.5rem;
        border-radius: 7px;
        margin: none;
    }
    .backlog {
        background-color: $yellow;
    }
    .in-progress {
        background-color: $teal;
    }
    .complete {
        background-color: $ligthteal;
    }
    .on-hold {
        background-color: $red;
    }
}

.kanban-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    .kanban-item {
        width: 250px;
        background-color: rgba($black, 0.4);
        padding: 0.5rem;
        border-radius: 8px;
        margin-bottom: 1rem;
        // position: relative;
        // padding-bottom: 80px;
        height:fit-content;
        .kanban-content {
            margin-bottom: 0.5rem;
            border-radius: 5px;
            .kanban-item-list {
                padding-inline-start: 0;
                .item {
                    background-color: rgba($black, 0.6);
                    padding: 0.5rem 1rem;
                    border-radius: 5px;
                    margin-bottom: 0.5rem;
                    cursor: pointer;
                    list-style: none;
                }
            }
        }
        footer {
            // position: absolute;
            // bottom: 0;
            // height: 70px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0.5rem;
            box-sizing: border-box;
            .add-btn, .save-btn {
                width: 50%;
                cursor: pointer;
                background-color: transparent;
                padding: 0.5rem;
                border: none;
                color: $white;
                font-family: houschka-rounded,sans-serif;
                font-weight: 500;
                font-size: 16px;
                border-radius: 5px;
                transition: all 0.5s;
                &:hover {
                    background-color: $ligthblue;
                    color: $teal;
                    border-radius: 5px;
                    // width:fit-content;
                }
            }
            .add-container {
                margin-top: 1rem;
                background-color: $white;
                width: 100%;
                height: 100px;
                border: solid 2px $teal;
                border-radius: 10px;
            }
        }
    }
}

.custom-scroll {
    overflow-y: auto;
    max-height: 52vh;
}

.over {
    padding: 50px 20px;
    border-radius: 8px;
    &#backlog-list.over {
            background-color: $yellow;
        }
    &#progress-list.over {
        background-color: $teal;
    }
    &#complete-list.over {
        background-color: $ligthteal;
    }
    &#on-hold-list.over {
        background-color: $red;
    }
}

// #backlog-list.over {
//     background-color: $yellow;
// }




@media screen and (min-width: 2640px) {
    .kanban-container {
        .kanban-item {
            width: 450px;
        }
    }
}

