@import url("https://use.typekit.net/sar2ezz.css");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url("/forest.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: houschka-rounded,sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  list-style: none;
  overflow: hidden;
}

body::before {
  content: "";
  background-color: #000;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
  z-index: -1;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}

h2 {
  font-weight: 600;
  margin: auto;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: auto;
}

header {
  text-align: center;
  margin-bottom: 1rem;
}

header h2 {
  padding: 0.5rem;
  border-radius: 7px;
  margin: none;
}

header .backlog {
  background-color: #e2ad3b;
}

header .in-progress {
  background-color: #1d4045;
}

header .complete {
  background-color: #33777d;
}

header .on-hold {
  background-color: #902617;
}

.kanban-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.kanban-container .kanban-item {
  width: 250px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.5rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.kanban-container .kanban-item .kanban-content {
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.kanban-container .kanban-item .kanban-content .kanban-item-list {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  min-height: 20px;
}

.kanban-container .kanban-item .kanban-content .kanban-item-list .item {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  list-style: none;
}

.kanban-container .kanban-item footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.kanban-container .kanban-item footer .add-btn, .kanban-container .kanban-item footer .save-btn {
  width: 50%;
  cursor: pointer;
  background-color: transparent;
  padding: 0.5rem;
  border: none;
  color: #fff;
  font-family: houschka-rounded,sans-serif;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.kanban-container .kanban-item footer .add-btn:hover, .kanban-container .kanban-item footer .save-btn:hover {
  background-color: #83d3d4;
  color: #1d4045;
  border-radius: 5px;
}

.kanban-container .kanban-item footer .add-container {
  margin-top: 1rem;
  background-color: #fff;
  width: 100%;
  height: 100px;
  border: solid 2px #1d4045;
  border-radius: 10px;
}

.custom-scroll {
  overflow-y: auto;
  max-height: 52vh;
}

.over {
  padding: 10px 10px 50px 10px;
  border-radius: 8px;
  -webkit-padding-start: 10px !important;
          padding-inline-start: 10px !important;
}

.over#backlog-list.over {
  background-color: #e2ad3b;
}

.over#progress-list.over {
  background-color: #1d4045;
}

.over#complete-list.over {
  background-color: #33777d;
}

.over#on-hold-list.over {
  background-color: #902617;
}

@media screen and (min-width: 2640px) {
  .kanban-container .kanban-item {
    width: 450px;
  }
}
/*# sourceMappingURL=style.css.map */