@import url("https://use.typekit.net/sar2ezz.css");

$teal: #1d4045;
$ligthteal: #33777d;
$ligthblue: #83d3d4;
$red: #902617;
$yellow: #e2ad3b;
$black: #000;
$white: #fff;

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-image: url("/forest.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: houschka-rounded,sans-serif;
    font-weight: 500;
    font-style: normal;
    color: $white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    &::before {
        content: "";
        background-color: $black;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.5;
        z-index: -1;
    }
}

h1 {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

h2 {
    font-weight: 600;
    margin: auto;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
}

header {
    text-align: center;
    margin-bottom: 1rem;
    h2 {
        padding: 0.5rem;
        border-radius: 7px;
        margin: none;
    }
    .backlay {
        background-color: $yellow;
    }
    .in-progress {
        background-color: $teal;
    }
    .complete {
        background-color: $ligthteal;
    }
    .on-hold {
        background-color: $red;
    }
}

.kanban-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .kanban-item {
        width: 250px;
        background-color: rgba($black, 0.4);
        padding: 0.5rem 1rem;
        border-radius: 8px;
        .item {
            background-color: rgba($black, 0.4);
            padding: 0.5rem 1rem;
            border-radius: 5px;
            margin-bottom: 0.5rem;
        }
        footer {
            padding: 0.5rem 1rem;
        }
    }
}